<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>User info</h1>
<br>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">

  <label for="name">Enter name:</label>
  <input type="text" th:field="*{name}" id="name"/>
  <br><br>
  <label for="lastname">Enter lastname:</label>
  <input type="text" th:field="*{lastName}" id="lastname"/>
  <br><br>
  <label for="Age">Enter age:</label>
  <input type="text" th:field="*{age}" id="Age"/>
  <br><br>
  <label for="password">Enter password:</label>
  <input type="text" th:field="*{password}" id="password"/>
  <br><br>
  <br><br>
  <label for="role">Enter role:</label>
  <input type="text" th:field="*{roleName}" id="role"/>
  <br><br>

  <input type="submit" value="Create">
  <br><br>

  <input type="button" value="Back to menu"
         onclick="window.location.href = '/'"/>
</form>
<br><br>

<input type="button" value="LogOut"
       onclick="window.location.href = '/logout'"/>

</body>
</html>