<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit userMan</title>
</head>
<body>
    <h1>Edit userMan</h1>
    <br>
    <form th:method="PATCH" th:action="@{admin/users/{id}(id=${user.getId()})}" th:object="${user}">

        <label for="name">Change name:</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br><br>
        <label for="lastname">Change lastname:</label>
        <input type="text" th:field="*{lastName}" id="lastname"/>
        <br><br>
        <label for="age">Change age:</label>
        <input type="text" th:field="*{age}" id="age"/>
        <br><br>
        <label for="password">Change password:</label>
        <input type="text" th:field="*{password}" id="password"/>
        <br><br>
        <label for="role">Change role:</label>
        <input type="text" th:field="*{roles}" id="role"/>
        <br><br>

        <input type="submit" value="Update">
        <br><br>

        <input type="button" value="Back to menu"
               onclick="window.location.href = '/'"/>
    </form>
    <br><br>

    <input type="button" value="LogOut"
           onclick="window.location.href = '/logout'"/>
</body>
</html>