<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Start page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&family=Zeyada&display=swap" rel="stylesheet">

<!--    font-family: 'Exo 2', sans-serif;-->
<!--    font-family: 'Zeyada', cursive;-->

</head>

<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <h2 style="font-family: 'Exo 2', sans-serif; color: orange">Hello!</h2>
    </nav>
        <div class="container">
                <ul class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/sort"
                           style="font-family: 'Zeyada', sans-serif; color: #9d00ff; font-size: 32px">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/new"
                           style="font-family: 'Zeyada', sans-serif; color: #9d00ff; font-size: 32px">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"
                           style="font-family: 'Zeyada', sans-serif; color: #9d00ff; font-size: 32px">Log out</a>
                    </li>
                </ul>
        </div>
</body>
</html>