<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Start page</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&family=Zeyada&display=swap" rel="stylesheet">
  <!--    font-family: 'Exo 2', sans-serif;-->
  <!--    font-family: 'Zeyada', cursive;-->

</head>
<body>
<!--User information above working place-->
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <h2 style="font-family: 'Exo 2', sans-serif; color: orange">Hello <span th:text="${userOfSession.name}">
    </span>! with roles: <span th:each="role, iterStat : ${userOfSession.roles}">
      <span th:text="${role.getRoleName()}"></span> <span th:if="${!iterStat.last}">,</span>
    </span>
    </h2>
  </nav>

  <h2>Admin panel</h2>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#usersTable">Users Table</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#addUser">Add new User</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="usersTable" class="tab-panel">
      <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <p style="font-family: 'Exo 2', sans-serif; color: orange">All users</p>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Password</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="user, user:${users}">
            <td th:utext="${user.current.getId()}">ID</td>
            <td th:utext="${user.current.getName()}">Name</td>
            <td th:utext="${user.current.getLastName()}">Last Name</td>
            <td th:utext="${user.current.getAge()}">Age</td>
            <td th:utext="${user.current.getPassword()}">Password</td>
            <td>
              <span th:each="role, iterStat : ${user.current.roles}">
              <span th:text="${role.roleName}"></span>
              <span th:if="${!iterStat.last}">, </span>
              </span>
            </td>
            <td>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'exampleModal-' + ${user.current.getId()}">
                Edit
              </button>
              <!-- Modal -->
              <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <input type="text" id="myInput" autofocus>
                      <!-- ... остальной контент модального окна ... -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- Скрипт для фокусировки на инпуте при открытии модального окна -->
<script>
  const editModal = new bootstrap.Modal(document.getElementById('editModal'));
  editModal._element.addEventListener('shown.bs.modal', () => {
    document.getElementById('myInput').focus();
  });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua9bmj2piVtId+txm5HNpUpU6qWR1l3K9/KBtVfoMf70Z+f2EIdQC1jw1" crossorigin="anonymous"></script>


</body>

  <style>
    .tab-panel {
      display: none;
    }
    .tab-panel:target {
      display: block;
    }
  </style>

</html>

<!--<div id="addUser" class="tab-panel">-->
<!--  <h2>Add new User</h2>-->
<!--  <form th:method="POST" th:action="@{/admin/users}" th:object="${userNew}">-->

<!--    <label for="name">Enter name:</label>-->
<!--    <input type="text" th:field="*{name}" id="name"/>-->
<!--    <br><br>-->
<!--    <label for="lastname">Enter lastname:</label>-->
<!--    <input type="text" th:field="*{lastName}" id="lastname"/>-->
<!--    <br><br>-->
<!--    <label for="Age">Enter age:</label>-->
<!--    <input type="text" th:field="*{age}" id="Age"/>-->
<!--    <br><br>-->
<!--    <label for="password">Enter password:</label>-->
<!--    <input type="text" th:field="*{password}" id="password"/>-->
<!--    <br><br>-->
<!--    <br><br>-->
<!--    <label for="role">Enter role:</label>-->
<!--    <input type="text" th:field="*{roleName}" id="role"/>-->
<!--    <br><br>-->

<!--    <input type="submit" value="Create">-->
<!--    <br><br>-->

<!--    <input type="button" value="Back to menu"-->
<!--           onclick="window.location.href = '/'"/>-->
<!--  </form>-->
<!--</div>-->