<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="style-for-pages.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark height-nav-bar">
    <form th:object="${user}">
        <tr th:text="${user.getEmail()}"></tr>
    <a class="navbar-brand" href="#">with roles:</a>
    <form type="text" name="roleList"
          th:each="role : ${roleList}"
          th:text="${role.getNoPrefix()}"
          th:value="${role.id}">
    </form>
    </form>
    <form th:action="@{/logout}" th:method="POST">
        <input class="logoutLblPos logout-color" type="submit" value="Logout" />
    </form>
</nav>

<div class="container">
    <div class="row">
<div >
    <button type="submit" class="btn btn-primary btn-block">User</button>
</div>

<div>
    <h2>User information-page</h2>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>About user</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <form th:object="${user}">
            <tr>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getRoles()}"></td>
            </tr>
        </form>
        </tbody>
    </table>
</div>
    </div>
</div>

</body>
</html>